body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(ellipse at center, #262626 0%, #000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.popup-container {
  background-color: #111;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  max-width: 300px;
  padding: 20px;
  text-align: center;
  color: #eee;
}

.header {
  background: linear-gradient(45deg, #000, #333);
  color: #fff;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  font-size: 1.2em;
}

.header h1 {
  margin: 0;
  font-size: 1.5em;
}

button {
  background: linear-gradient(45deg, #F0741B, #D9630F);
  color: #fff;
  border: none;
  padding: 12px 25px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(45deg, #D9630F, #F0741B);
}

#goToDashboardButton {
  margin-top: 20px;
}

